@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
  --primary-color: #FFCA2C;
  --secondary-color: #ddd;
  --white-color: #fff;
  --black-color: #3f3b51;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}

.navbar-brand{
  width: 8em;
}


 .hero {
  /* margin-top: -80px; */
  background-image: url(../image/hero.jpg);
  width: 100%;
  height: 90vh;
  background-size: cover;
 }
 .hero .small-title {
   padding-top: 8%;
   font-size: 12px;
   color: var(--white-color);
 }
 .hero .title-text {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 58px;
  font-weight: 900;
  /* padding-top: 15%; */
 }

 .btn-warning {
  color: #fff;
 }
 .btn-warning:hover {
  color: #fff;
 }
 .top_box {
  padding: 3%;
  width: 60%;
  margin: 0 auto;
  background-color: var(--white-color);
  margin-top: -70px;
 }
 .tick-title {
  font-weight: 900;
  color: #000;
 }

 .number {
  font-size: px;
  font-weight: 600;
  width: 50px;
  height: 50px;
  padding: 5%;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.trending {
  color: var(--primary-color);
  font-weight: 900;
}
.badge{
  background-color: #eee;
  padding: 3%;
  color: #000;
  
}
.line {
  height: 2px;
  background-color: #eee;
}
.icon {
  width: 30px;
  height: 30px;
}

.margin_style{ 
  margin-bottom: 20px;
}

.text_color{
  color: #fff;
  background: #161820;
}


.social_link a i {
  color: #fff;
}

/* footer */

/* .margin_style {
  display: flex;
  justify-content: center;
  padding: 0 48px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 48px;
}

.section-subscribe {
  padding: 5em 0;;
}

.form-control {
  outline: none;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
  box-shadow: 0, 3px, 10px -2px rgb(0, 0, 0, 0.2) !important;
}

.form-control:focus, .form-control:active {
  outline: none;
}

.btn {
  -webkit-box-shadow: 0, 3px 10px -2px rgba(0,0,0,0.2) !important;
  box-shadow: 0, 3px, 10px, -2px rgba(0,0,0,0.2) !important;
}

.btn.btn-secondary {
  color: #fff;
  border-width: 2px;
  background: #bc5148;
  border-color: #bc5148;
  padding: 10px;
}


.site-footer {
  padding: 5em 0;
  background: #010101;
  font-size: 14px;
  color: #fff;
}

.site-footer p:last-child {
  margin-bottom: 0;
}

.site-footer a:hover {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-footer h2 {
  font-size: 22px;
  margin-bottom: 28px;
  letter-spacing: 0.5em;
  color: #fff;
}

.site-footer .footer-link li {
  line-height: 1.5;
  margin-bottom: 15px;
}

.footer-social a {
  line-height: 0;
  border-radius: 50%;
  margin: 0 5px 5px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
}

.footer-social a:hover {
  background: #fff;
  background-color: #fff;
  color:#000;
}

.footer-social .fa {
  margin-top:7px;
} */

@media screen and (max-width: 991px) {
  .h6, h6 {
    font-size: 0.8rem;
  }
}

footer {
  background-color: #000;
  color: #fff;
}
footer h3 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 34px;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}
footer ul li a:hover {
  color: #FF9F1C;
}
footer ul li {
  margin-bottom: 10px;
  text-transform: capitalize;
  list-style-type: none;
}
footer ul {
  padding-left: 0;
}
.image-container {
  display: inline-block;
  padding: 48px;
}
.grid-social {
  display: grid;
  grid-template-columns: auto auto;
}
/* .footer-icon:hover {
  color: var(--btn-color);
  transition: var(--transition);
}
footer ul li:hover a {
  color: var(--btn-color);
  transition: var(--transition);
} */
.footer-flex {
  display: flex;
  justify-content: space-between;
  padding: 0 48px;
}
section hr {
  width: 95%;
  margin: auto;
}
.credit div {
  text-align: center;
  padding: 1vh;
}  
.credit hr {
  width: 98%;
  margin: auto;
}

@media screen and (max-width:670px) {
  footer h3 {
    font-size: 13px;
}
.image-container, .footer-flex {
  padding: 20px;
}
}
@media screen and (max-width:499px) {
  footer h3 {
    font-size: 12px;
}
footer a {
    font-size: 10px;
}
}
@media screen and (max-width:425px) {
  footer .footer-flex {
    display: block;
  }
}